a {
  color: #00b7ff;
}

body {
  color: #2d3748 !important;
}

.brand-title {
  font-family: 'Calistoga', sans-serif;
}

.jumga-top-bar {
  width: 100%;
  height: 4px;
  background-color: #ffcc33;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #ffcc35 !important;
}

.navbar-cta-button {
  box-shadow: 0px 8px 15px rgba(236, 201, 43, 0.4);
}

.navbar-cta-button:hover {
  /* background-color: #2EE59D; */
  box-shadow: 0px 10px 15px rgba(236, 201, 43, 0.4);
  color: #fff;
  /* transform: translateY(-7px); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500 !important;
}

.jumga-yellow {
  background-color: #ffcc33 !important;
}
